* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 57.5%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 37.5%;
    }

    @include respond(big-screen) {
        font-size: 77%;
    }
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    color: $color-primary;
}