.header {
    margin: 1.5rem;
    border-radius: 1.5rem;
    background-image: linear-gradient(
        177deg, rgba($color-blue, .9) 0%,
        rgba($color-blue, .9)50%
    , rgba($color-blue-grey, .9)50%) ;
    padding: 8rem;

    @include respond(tab-land) {
        padding: 5rem;
    }

    @include respond(tab-port) {
        padding: 3rem;
    }

    &__page {
        height: 75rem;
        border-radius: 1.2rem;
        background-color: $color-white;
        padding: 2rem 6rem;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include respond(tab-land) {
            padding: 2rem 2rem;
        }

        @include respond(tab-port) {
            padding: 1rem;
        }

        &::before {
            content: "";
            background-color: $color-blue-red;
            clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 80%, 0 70%);
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
    
        }
    }
}